# dependencies
node_modules/

# build output
dist/
out/
coverage/
*.tgz

# local environments
.venv/

# caches
.cache/
*.tsbuildinfo
__pycache__/

# environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
logs/
*.log

# editor junk
.DS_Store
.idea/
